.gcet__experience{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 70px;
    margin-top: 20px !important;
    
    margin-bottom:  165px !important;
   
}
.gcet__experience-text{
    align-self: center;
}
.gcet__experience-img img{
    width: 100%;
}
.gcet__experience-text h2{
    color: #111922;
    font-size: 32px;
    font-weight: 700;
    max-width: 275px;
    margin-bottom: 12px;
    line-height: 42px;
}
.gcet__experience-text  > p{
    color: #111922;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 33px;
}
