/******* General application styles *********/
@import url("https://use.typekit.net/dmn3sbx.css");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.marginp{
  /* border:1px solid red; */
  margin:0 6.94% !important;
  max-width: 1200px;
  
}

body,button{
  font-family: open-sans, sans-serif;
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  .marginp{
    margin: auto !important;
  }
}